In [100]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [101]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [102]:
school_data.head()
# school_data.count()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [103]:
student_data.head()
# student_data.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [104]:
school_data_complete.head()
# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [105]:
#Total Number of Schools
# num_schools = school_data_complete['school_name'].value_counts()
total_schools_num = school_data_complete['school_name'].nunique()
print (total_schools_num)

15

In [118]:
#Total Number of Students
total_students_num = len(school_data_complete['Student ID'].value_counts())
total_students_num = "{:,}".format(total_students_num)
print (total_students_num)

39,170

In [115]:
#Budget
total_budget = school_data['budget'].sum()
total_budget = "${:,.2f}".format(total_budget)
print(total_budget)
print(type(total_budget))

$24,649,428.00
<class 'str'>

In [108]:
avg_math_score = school_data_complete['math_score'].mean()
print(avg_math_score)

78.98537145774827

In [109]:
avg_read_score = school_data_complete['reading_score'].mean()
print(avg_read_score)

81.87784018381414

In [110]:
school_data_complete['math_score'] = pd.to_numeric(school_data_complete['math_score'])
school_data_complete['math_score'].dtypes

passing_math = school_data_complete[school_data_complete['math_score'] > 69].count()/total_students_num * 100
print(passing_math['math_score'])

74.9808526933878

In [111]:
school_data_complete['reading_score'] = pd.to_numeric(school_data_complete['reading_score'])
school_data_complete['reading_score'].dtypes

passing_read = school_data_complete[school_data_complete['reading_score'] > 69].count()/total_students_num * 100
print(passing_read['reading_score'])

85.80546336482001

In [112]:
overall_pass_rt = (avg_math_score + avg_read_score) / 2
print(overall_pass_rt)

80.43160582078121

In [119]:
dist_summ_df = pd.DataFrame({'Total Schools': total_schools_num,
                             'Total Students': total_students_num,
                             'Total Budget':total_budget,
                             'Average Math Score': avg_math_score,
                             'Average Reading Score':avg_read_score,
                             '% Passing Math': passing_math['math_score'],
                             '% Passing Reading': passing_read['reading_score'],
                             '% Overall Passing Rate':overall_pass_rt
                            },index=[0])
dist_summ_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606